<div class="container">
  <h1>My Quotes</h1>
  <hr>
    <div class="row">
      <div class="col-md-6">
        <app-quote-form></app-quote-form>
      </div>
      <div class="col-md-6">
        <div *ngFor='let quote of quotes;let i = index'>
          <div>
            <h6 id={{i}} appHighlight>{{quote.name}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-secondary">Toggle Details</button>
          </div>
          <div *ngIf='quote.showPerson'>
            <app-quote-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
          </div>
        </div>
      </div>
    </div>
</div>


