<div class="container-fluid">
    <h2 class="text-center">New Quote</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="author">Author:</label>
            <input type="text" required class="form-control" id="author">
  
        </div>
        <div class="form-group">
  
            <label for="personSubmitted">Submitted by:</label>
            <input type="text" required class="form-control" id="personSubmitted">
  
        </div>
        <div class="form-group">
  
            <label for="quote">Quote:</label>
            <textarea class="form-control" id="quote" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="dateCreated">Date created:</label>
            <input type='date' id="dateCreated" required>
  
        </div>
    </form>
  </div>
